.pyc
.pyo
.pyd
.pyw
.pyz
.pywz
.pyzw
.pyzwz
*.tif
__pycache__

.vscode
.ipynb_checkpoints
.DS_Store
.venv
ENTER
tests
geoCosiCorr3D/Lidar_results
geoCosiCorr3D/Lidar_data/Site1
geoCosiCorr3D.egg-info
lib
*.so.10